body {
    background-color:grey;
}
.pageHeader {
    font-size: 40px;
    text-align: center
}

.list {
    color: black;
    font-size: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenlys;
    
    }
.shop {
    width: 25%;
    padding: 1%;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
}
    
    
    
    
    
    
    
    
    /* display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    flex-wrap: wrap;
    flex-direction: row;  */
